@import '../parciais/colors';
@import '../parciais/mixins';
@import '../parciais/typo';

.loading{
    animation: float 5s linear infinite;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: $bg-lime;
    opacity: 0.8;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
  
@keyframes float {
0% {
        box-shadow: 5px 5px 15px 5px rgba(90, 90, 90, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 25px 25px 15px 5px rgba(90, 90, 90, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 5px 5px 15px 5px rgba(90, 90, 90, 0.6);
        transform: translatey(0px);
    }
}